<form class="form-horizontal" >
    <div class="form-group">
        <label class="col-sm-2 control-label">Select Customer:</label>
        <div class="col-sm-10">
           <select ng-model="selectedCustomer"
                    ng-options="emp.Name for emp in employees" >
            </select>
        </div>
    </div>

</form>

<button class="btn btn-default" ng-click="showInvoiceForCustomer(selectedCustomer.Id);showInvoices=true">
    <span class="glyphicon glyphicon-user"></span>  Show Invoices
</button>

<div ng-show="showInvoices">
     <div ng-repeat=>{{n.id}}</div>
    <table style="width:100%" class="table-bordered">
        <tr>
            <th>Invoice ID</th>
            <th>Amount Paid</th>
            <th>Total Cost</th>
            <th>Items List</th>
            <!--th>Amount Due</th-->
        </tr>
        <tr ng-repeat="inv in invoice.Invoices">
            <td>{{inv.id}}</td>
            <td>{{inv.AmountPaid}}</td>
            <td>{{inv.TotalCost}}</td>
            <td>{{inv.Items}} </td>
           <!--td>{{inv.TotalCost}}-{{inv.AmountPaid}}</td-->
        </tr>
    </table>
</div>





